 body{
    margin: 0; 
    padding: 0;
    background-size: cover;
    background: url(dots.jpeg);
    background-color: rgb(0, 0, 0);
}

.box{
    width: 700px;
    background: rgba(13, 155, 13, 0.828);
    padding: 40px;
    text-align: center;
    text-decoration-color: white;
    margin: auto;
    margin-top: 0%;
    color: white;
    font-family: 'Courier New', Courier, monospace;


}

.box-img{
    border-radius: 5-%;
    width: 200px;
    height: 200px;
    
  

    

}

.box h1{
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 100;

}

.box h5{
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
    letter-spacing: -1px;
  }
 
  ul{
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
  }

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }

.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
    letter-spacing: -1px;
  }
 
.box li a:hover{
    color: #b9b9b9;
  }

  